body, ul, li {
    margin: 0;
    padding: 0;
}

.header {
    background-color: #f0e4d0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.logo img {
    max-width: 100px;
    height: auto;
    border-radius: 50%;
}

.navbar a {
    text-decoration: none;
    color: #663300;
    font-weight: bold;
    font-family: 'Arial', Helvetica, sans-serif;
    margin: 0 15px;
}

.content {
    padding: 20px;
    background-color: #ffffff;
    margin: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.about-section {
    background-color: #FEE1E8;
    background-size: cover;
    background-position: center;
    color: black;
    text-align: center;
    padding: 20px 0; 
}


.about-section h2 {
    font-size: 36px;
    margin-bottom: 40px; 
}

.about-content {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 20px;
}

.about-text {
    flex: 1;
    padding: 20px;
}

.about-image img {
    max-width: 100%;
    height: auto;
    height:300px;
    width:500px;
}
