body, ul, li {
    margin: 0;
    padding: 0;
    font-family:Arial, Helvetica, sans-serif;
}

.header {
    background-color: #F6EAC2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}
.name {
    font-size: 36px;
    color: #663300;
    font-family: 'Arial', sans-serif;
}

.logo img {
    max-width: 100px;
    height: auto;
    border-radius: 50%;
}

.navbar a {
    text-decoration: none;
    color: #663300;
    font-weight: bold;
    font-family: 'Arial', Helvetica, sans-serif;
    margin: 0 15px;
}

.content {
    padding: 20px;
    background-color: #FEE1E8;
    margin: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.content h2 {
    font-size: 42px;
    margin-bottom: 20px;
    color: black;
}

.footer {
    background-color: #f0e4d0;
    padding: 10px;
}


.order-section {
    padding: 20px;
}



.order-section {
    background-color: #FEE1E8;
    text-align: center;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.order-section h2 {
    font-size: 36px;
    margin-bottom: 20px;
}

.order-section p {
    font-size: 18px;
    margin-bottom: 20px;
}

form {
    text-align: left;
    max-width: 500px;
    margin: 0 auto;
}

label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
    color: #663300;
}

select, input[type="text"], input[type="email"], input[type="number"], textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

textarea {
    height: 100px;
}

input[type="submit"] {
    background-color: #ffcc99;
    color: #663300;
    font-size: 18px;
    padding: 15px 30px;
    border: none;
    border-radius: 5px;
    margin-top: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
    background-color: #ffaa66;
}

.logo img {
    max-width: 100px;
    height: auto;
    border-radius: 50%;
}



.container {
    display: grid;
    grid-template-columns: 60% 40%; 
    gap: 20px;
}

.order-section {
    background-color: #FEE1E8;
    text-align: center;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.order-section h2 {
    font-size: 36px;
    margin-bottom: 20px;
}

.customer-quotes {
    background-color: #f0e4d0;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.customer-quotes h2 {
    font-size: 24px;
    color: #663300;
    margin-bottom: 20px;
}

.quote {
    background-color: #FEE1E8;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 20px;
}

.quote p {
    font-size: 16px;
    color: #663300;
}

/* Media query for responsiveness */
@media screen and (max-width: 768px) {
    .container {
        grid-template-columns: 1fr; /* Single column for smaller screens */
    }
}