body, ul, li {
    margin: 0;
    padding: 0;
    font-family:Arial, Helvetica, sans-serif;
}

.header {
    background-color: #F6EAC2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.logo img {
    max-width: 100px;
    height: auto;
    border-radius: 50%;
}

.navbar a {
    text-decoration: none;
    color: #663300;
    font-weight: bold;
    font-family: 'Arial', Helvetica, sans-serif;
    margin: 0 15px;
}

.content {
    padding: 40px;
    background-color: #FEE1E8;
    margin: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    font-family: 'Arial', sans-serif;
    color: black;
}

.content h2 {
    font-size: 36px;
    margin-bottom: 20px;
    color: #663300;
}

.content p {
    font-size: 18px;
    margin-bottom: 20px;
    line-height: 1.5;
}

.cta-button {
    display: inline-block;
    background-color: #FED7C3;
    color: #663300;
    font-size: 18px;
    padding: 15px 30px;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.cta-button:hover {
    background-color: #FFC8A2;
}

.footer {
    background-color: #f0e4d0;
    text-align: center;
    padding: 10px;
}

.name {
    font-size: 36px;
    color: #663300;
    font-family: 'Arial', sans-serif;
}

/* ... Your existing CSS rules ... */

.bakery-photo {
    text-align: center;
    margin-top: 20px;
}

.bakery-photo img {
    max-width: 100%;
    border-radius: 10px; /* Add rounded corners to the image */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Add a subtle shadow */
}
/* ... Your existing CSS rules ... */

/* Additional styles for the Hours of Operation section on home.html */
.hours-section {
    background-color: #F0E4D0;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin-top: 20px;
    border: 2px solid #663300; /* Add a border around the section */
}

.hours-section h3 {
    font-size: 24px;
    margin-bottom: 10px;
    color: #663300;
}

.hours-section p {
    font-size: 18px;
    margin-bottom: 20px;
}

