/*Structure */

body{
    
    font-family: Arial, Helvetica, sans-serif;
    background-image:url(images/Underwater.jpg)
    
}
#content{
background-color:beige;
width:75%;
margin:auto;
padding: 0px 5px;
border-radius:5px;

}
/* Navigation */
a{
    text-decoration: none;
    background-color:rgb(127, 246, 242);
    color:black;
    padding: 4px;
    border-radius: 3px;
}
a:hover{
background-color:rgb(252, 175, 144);
}

/* Tables */
table{
border-collapse: collapse;

}
th,
td{
    border: 1px solid black;
    padding: 4px;
}
th{
    background-color:rgb(127, 246, 242);
}
td{
    background-color: white;
}

/* Images */

img{
    padding: 10px;
    
    border: 5px solid white;
    border-radius: 5px;
}
/* Typography */
* {
    font-family: Arial, Helvetica, sans-serif;
  }
  h1{
    font-size: xx-large;
  }

