
body, h1, h2, p, ul, li {
    margin: 0;
    padding: 0;
}

body {
    font-family:Arial, Helvetica, sans-serif;
    background-color: #f5f5f5; 
}


.black-header {
    background-color: #000; 
    color: white; 
    padding: 10px 0;
}


.top-nav ul {
    list-style-type: none;
    display: flex;
    justify-content: flex-end; 
    align-items: center;
}

.top-nav li {
    margin-left: 20px;
}

.top-nav a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    text-decoration: underline;
}


header {
    background-color: #c3002f;
    color: white; 
    padding: 10px 0;
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
}

nav li {
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: white; 
    font-weight: bold;
}


h1, h2 {
    color: #c3002f; 
    margin-top: 20px;
}

h1 {
    color: white; 
    background-color: #c3002f; 
    padding: 10px; 
    width: 400px;
    height:50px;

}




header, h1, h2 {
    background-color: #c3002f; 
    color: white; 
}


h1 {
    padding: 10px;
    width: auto; 
    height: auto; 
}



.barriers-section {
    background-color: #000; 
}

.barriers-section h2 {
    color: white; 
}



p {
    margin: 10px 0;
}


footer {
    background-color: #c3002f;
    color: white;
    padding: 20px 0;
}


footer h2 {
    color: white; 
    font-size: 18px;
    margin-bottom: 10px;
}

footer ul {
    list-style-type: none;
    margin-bottom: 10px;
}

footer li {
    margin-bottom: 5px;
}

footer section {
    display: inline-block; 
    margin-right: 20px; 
    vertical-align: top; 
    width: 30%; 
}


footer p {
    margin: 5px 0;
}


.research-section {
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    margin-top: 20px; 
}


.research-content {
    flex: 1; 
}


.research-content h2 {
    color: #c3002f; 
}

.research-content p {
    margin-top: 10px; 
}


.research-image {
    flex: 1; 
    text-align: right;
}

.research-image img {
    max-width: 100%; 
}
.second-image img {
    flex: 1;
    text-align: right; 
}
.second-image img {
    max-width: 100%; 
}
.health-image img {
    flex: 1; 
    text-align: right; 
}
.health-image img {
    max-width: 100%; 
}




footer p {
    margin: 5px 0;
}



/* Media queries */
@media (max-width: 768px) {
    
}
