
body {
    background-color: rgb(76, 127, 222);
    font-family:Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 101vh;
    margin: 0;
    text-align: center ;
}

#header {
    color: black;
    font-size: 24px;
}

#movies-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.movie-container {
    display: flex;
    padding: 20px;
    margin: 20px;
    background-color: rgb(35, 98, 215);
    
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.1);
    border: 2px solid black;
    width: 1000px; 
}


.movie-image {
    width: 150px;
    height: 180px;
    margin-right: 20px;
    object-fit: cover;
    transition: transform 0.2s;
}

.movie-image:hover {
    transform: scale(1.1); 
}




  

.movie-title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
    text-align: left; 
}



.movie-director {
    font-size: 16px;
}

.movie-year {
    font-size: 16px;
}

.movie-description {
    margin-top: 10px;
}

.movie-details div {
    display: flex;
    align-items: center;
  }
  
  .movie-details div strong {
    width: 120px;
    display: inline-block;
    font-weight: bold;
    margin-right: 10px;
    text-align: right;
  }
  
  
  .movie-details div strong + div {
    margin-left: 120px; 
  }
  
 
  .movie-description {
    margin-top: 10px;
  }
  
  
  
  
  /* Rest of your existing CSS styles */
  
  